@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<!-- Small boxes (Stat box) -->
    <div class="row">

        <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    @if (HttpContextAccessor.HttpContext.Session.GetString("userRole") == "admin")
                    {
                        <h3>@ViewBag.TotalDeposit USD</h3>

                        <p>Deposited Amount</p>
                    }
                    else
                    {

                        <h3>@ViewBag.TotalDeposit USD</h3>

                        <p>Deposited Amount</p>
                    }


                </div>
                <div class="icon">
                    <i class="fas fa-hand-holding-usd"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
            </div>
        </div>


        <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    @if (HttpContextAccessor.HttpContext.Session.GetString("userRole") == "admin")
                    {
                        <h3>@ViewBag.TotalTransfer USD</h3>

                        <p>Total Transfer</p>
                    }
                    else
                    {

                        <h3>@ViewBag.TotalTransfer USD</h3>

                        <p>Total Transfer</p>
                    }


                </div>
                <div class="icon">
                    <i class="fas fa-hand-holding-usd"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
            </div>
        </div>


        <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    @if (HttpContextAccessor.HttpContext.Session.GetString("userRole") == "admin")
                    {
                        <h3>@ViewBag.CurrentBalance USD</h3>

                        <p>Available Balance</p>
                    }
                    else
                    {

                        <h3>@ViewBag.CurrentBalance USD</h3>

                        <p>Available Balance</p>
                    }


                </div>
                <div class="icon">
                    <i class="fas fa-hand-holding-usd"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
            </div>
        </div>
        </div>

    <div class="row">

        <!-- ./col -->
        <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    @if (HttpContextAccessor.HttpContext.Session.GetString("userRole") == "admin")
                    {
                        <h3>@ViewBag.TransactionCount</h3>

                        <p>Total Transaction</p>
                    }
                    else
                    {

                        <h3>@ViewBag.TransactionCount</h3>

                        <p>Total Transaction</p>
                    }



                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
            </div>
        </div>

        <!-- ./col -->
        <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    @if (HttpContextAccessor.HttpContext.Session.GetString("userRole") == "admin")
                    {
                        <h3>@ViewBag.PendingTransactionCount</h3>

                        <p>Pending Transaction</p>
                    }
                    else
                    {

                        <h3>@ViewBag.PendingTransactionCount</h3>

                        <p>Pending Transaction</p>
                    }



                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    @if (HttpContextAccessor.HttpContext.Session.GetString("userRole") == "admin")
                    {
                        <h3>@ViewBag.SuccessTransactionCount</h3>

                        <p>Successful Transaction</p>
                    }
                    else
                    {

                        <h3>@ViewBag.SuccessTransactionCount</h3>

                        <p>Successful Transaction</p>
                    }



                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-12">
        <div class="card-green">
            <div class="card-header">Recent Transaction List</div>
            <div class="card-content">

                <table id="userTable" class="display nowrap table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr class="table-secondary">
                            <th>
                                Date
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Transaction No
                            </th>
                            <th>
                                Particulars
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Beneficiary Account No
                            </th>
                            <th>
                                Beneficiary Name
                            </th>
                            <th>
                                Bank Name
                            </th>
                            <th>
                                Phone Number
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Remarks
                            </th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/datatable/jquery.dataTables.min.js"></script>
    <script src="~/datatable/dataTables.buttons.min.js"></script>
    <script src="~/datatable/jszip.min.js"></script>
    <script src="~/datatable/pdfmake.min.js"></script>
    <script src="~/datatable/vfs_fonts.js"></script>
    <script src="~/datatable/buttons.html5.min.js"></script>
    <script src="~/datatable/buttons.print.min.js"></script>

    <script>
        $(document).ready(function () {

            dataTable = $("#userTable").DataTable({
                "dom": "Bfrtip",
                "buttons": [
                    "copy", "csv", "excel", "pdf", "print"
                ],
                "ajax": {
                    "url": "/Dashboard/GetAllTransaction",
                    "type": "GET",
                    "datatype": "json"
                },

                "columns": [
                    { "data": "dateOfTransaction" },
                    { "data": "applicationUser.name" },
                    { "data": "transactionNumber" },
                    { "data": "particulars" },
                    { "data": "amount" , render: $.fn.dataTable.render.number( ',', '.', 0, '$' )},
                    { "data": "beneficiaryAccountNumber" },
                    { "data": "beneficiaryName" },
                    { "data": "beneficiaryBankName" },
                    { "data": "beneficiaryPhoneNumber" },
                    { "data": "beneficiaryEmail" },
                    { "data": "transactionStatus" },
                    { "data": "remarks" }

                ],

                "language": {
                    "emptyTable": "No data found. Click on <b>Create New</b> button."
                }
            })

        });

    </script>

}

